@font-face {
  font-family: 'Josefin';
  src: url('../../fonts/JosefinSans.ttf') format('truetype');
}

@font-face {
  font-family: 'Garamond-Regular';
  src: url('../../fonts/Garamond-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Didot-Regular';
  src: url('../../fonts/Didot-Regular.ttf') format('truetype');
}

// fonts

$titre: 'Didot-Regular', serif;
$text: 'Garamond-Regular', serif;
$textjo: 'Josefin', sans-serif;

// colors

$light-blue: #EDF4FA;
$dark-blue: #0C1217;
$white: #FFFFFF;

// font weight

$weight: 500;

// font size

@media (min-width: 320px) {
}
@media (min-width: 375px) {
}
@media (min-width: 600px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1440px) {
}

// font style

$style: normal;

.hero {
  .menu {
    margin-top: 1.3rem;
    margin-left: 2rem;
  }
  .menu-toggle, .menu {
    display: none;
    @media (max-width: 768px) {
      display: block; // Affiche le bouton burger sur mobile
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      width: 3rem;
      height: 3rem;
      color: $light-blue;
    }
  }
  z-index: 1;
  position: relative;
  //background-color: $dark-blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem 0 2rem;
  &__brand {
    @media (max-width: 768px) {
      font-size: 3rem;
    }
    display: flex;
    text-decoration: none;
    color: $light-blue;
    background-color: transparent;
    font-family: $textjo;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 0.3rem;
    font-size: 3.5rem;
    text-shadow: $dark-blue 2px 2px 5px;
    &__letters {
      padding-top: 0.6rem;
    }
  }

  &__nav {
    width: 50%;
    font-family: $textjo;
    font-optical-sizing: auto;
    font-style: normal;
    @media (max-width: 768px) { // Styles pour les appareils mobiles
      display: none; // Cache le menu par défaut sur mobile
      &.is-open {
        display: flex; // Affiche le menu quand il est ouvert
        position: absolute;
        z-index: 1000;
        background-color: $dark-blue;
        border-radius: 0 0 5px 0;
        width: 20rem;
        height: 40rem;
        left: -2rem;
        top: -1rem;
        flex-direction: column;
        align-items: flex-start;
      }
    }
      &__link {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        list-style-type: none;
        letter-spacing: 0.15rem;
        cursor: pointer;
        @media (max-width: 768px) {
          flex-direction: column;
          align-items: start;
          justify-content: space-between;
          height: 15rem;
          margin-left: 2rem;
          margin-top: 4rem;
          text-align: left;
        }
        &__page {
          text-transform: uppercase;
          &__a {
            position: relative;
            text-decoration: none;
            overflow: hidden;
            color: $light-blue;
            font-size: 1.2rem;
            text-align: center;
            text-shadow: $dark-blue 2px 2px 2px;
            @media (max-width: 768px) {
              font-size: 2rem;
            }
            &:before, &:after {
              content: '';
              position: absolute;
              bottom: -0.3rem;
              width: 0;
              height: 2px;
              background-color: $light-blue;
              transition: width 300ms ease, left 300ms ease, right 300ms ease;
            }

            &:before {
              left: 50%;
              right: 50%;
              transition-delay: 100ms;
              box-shadow: $dark-blue 2px 2px 5px;
            }

            &:after {
              left: 50%;
              right: 50%;
              transition-delay: 100ms;
              box-shadow: $dark-blue 2px 2px 5px;

            }

            &:hover:before, &:hover:after {
              width: 100%;
              left: 0;
              right: 0;
              box-shadow: $dark-blue 2px 2px 5px;
            }
          }
        }
      }
    }
  }
