@font-face {
  font-family: 'Josefin';
  src: url('../../fonts/JosefinSans.ttf') format('truetype');
}

@font-face {
  font-family: 'Garamond-Regular';
  src: url('../../fonts/Garamond-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Didot-Regular';
  src: url('../../fonts/Didot-Regular.ttf') format('truetype');
}

// fonts

$titre: 'Didot-Regular', serif;
$text: 'Garamond-Regular', serif;
$textjo: 'Josefin', sans-serif;

// colors

$light-blue: #EDF4FA;
$dark-blue: #0C1217;
$white: #FFFFFF;

// font weight

$weight: 500;

// font size

@media (min-width: 280px) {
}
@media (min-width: 375px) {
}
@media (min-width: 600px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
@media (min-width: 1440px) {
}

// font style

$style: normal;

.main {
  //background-color: $dark-blue;
  height: 100%;
  display: flex;
  flex-direction: column;
  @media (min-width: 280px) {
    margin-top: -4.3rem;
  }
  @media (min-width: 300px) {
    margin-top: -4.3rem;
  }

  @media (min-width: 768px) {
    margin-top: -4.3rem;
  }
  @media (min-width: 992px) {
    margin-top: -5.8rem;
  }
  &__container {
    @media (min-width: 280px) {
      position: relative;
      width: 100%;
      height: 53vh;
      overflow: hidden;
    }
    @media (min-width: 992px) {
      position: relative;
      width: 100%;
      height: 80vh;
      overflow: hidden;
    }
    @media (min-width: 1440px) {
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;
    }
    &__video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }
  }
  &__h1 {
    position: relative;
    z-index: 0;
    color: $light-blue;
    text-shadow: $dark-blue 2px 2px 2px;
    //letter-spacing: 0.2rem;
    @media (min-width: 280px) {
      margin: -8.2rem 1rem 0 1rem;
    }
    @media (min-width: 308px) {
      margin: -6rem 1rem 0 1rem;
    }
    @media (min-width: 320px) {
      margin: -6rem 1rem 0 1rem;
    }
    @media (min-width: 375px) {
      margin: -6rem 1rem 0 1rem;
    }
    @media (min-width: 492px) {
      margin: -6rem 1rem 2.5rem 1rem;
    }
    @media (min-width: 600px) {
      margin: -6rem 1rem 2.5rem 1rem;
    }
    @media (min-width: 992px) {
      margin: -8rem 6rem 0 6rem;
    }
    @media (min-width: 1280px) {
      margin: -10rem 8rem 1rem 8rem;
    }
    @media (min-width: 1920px) {
      margin: -10rem 8rem 1rem 8rem;
    }
  }
  &__arrow {
    position: relative;
    z-index: 1;
    width: 2rem;
    height: 2rem;
    color: $light-blue;
    align-self: center;
    margin-top: 2rem;
    animation: floatArrow 600ms ease-in-out infinite;
    cursor: pointer;
    @media (min-width: 280px) {
      display: none;
    }
    @media (min-width: 992px) {
      display: block;
    }
  }
  @keyframes floatArrow {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-8px);
    }
  }
}